/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1296db;
  --ifm-color-primary-dark: #1087c5;
  --ifm-color-primary-darker: #0f80ba;
  --ifm-color-primary-darkest: #0d6999;
  --ifm-color-primary-light: #19a3ec;
  --ifm-color-primary-lighter: #24a8ed;
  --ifm-color-primary-lightest: #44b5f0;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
